# 依赖
node_modules
npm-debug.log
pnpm-debug.log
yarn-error.log

# 构建输出
dist
build
unpackage

# 测试
coverage

# 环境变量
.env
.env.local
.env.*.local

# Git
.git
.gitignore
.github

# IDE
.vscode
.idea
.hbuilderx
*.swp
*.swo
*~

# 文档
README.md
CHANGELOG.md
docs

# 其他
.DS_Store
Thumbs.db
*.log
